.DS_Store
/node_modules/
/src/node_modules/@sapper/
yarn-error.log
/__sapper__/
static/g
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
